<html>
<style type="text/css">
body {
	background-color: #191718;
	font-family: 'Poppins', sans-serif;
}
body,td,th {
	color: #E0E5E9;
}
</style>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
 <!--Input-->
 <center>
 <p><img src="https://i.imgur.com/jW3Uzh1.png" alt="" width="366" height="106" align="top"/></p>

<form action="/getUserInfo/" method="post"> <!--# was postSignUp-->
	{% csrf_token %}
	<br/>
	<h1>Account Details</h1>

<p>&nbsp;</p>
<center>	
<div>
<table width="40%" height="342" border="0" style="float: left;">
  <tbody>
    <tr align=center>
      <td width="50%"><h3 style ="color:#F3D849;">General Information</h3></td>
    </tr>
    <tr align=center>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="50%" align=center>Name</td>
    </tr>
    <tr>
      <td width="50%" align=center>
		  <label for="user_name"> </label>
              <input id="user_name" type="text" name="user_name" maxlength="50" required />
	  </td>
    </tr>
    <tr>
      <td width="50%">&nbsp;</td>
    </tr>
    <tr>
      <td width="50%" align=center>Birthday (YYYY-MM-DD)</td>
    </tr>
    <tr align=center>
        <td><input type="text" name="birthday"{{ UserDetForm.DOB }}></td><!--<td><input type="date"  >id="birthday" name="birthday" value="{{ UserDetForm.Date }}"> </td><--->
    </tr>
    <tr>
      <td align=center>&nbsp;</td>
    </tr>
    <tr>
      <td align=center>Height (feet &amp; inches)</td>
    </tr>
    <tr>
      <td align=center>
		   <label for="user_feet">
 <!--<form id="dropdowndemo"<-->
		  <select name="Feet" id="Feet">
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
          </select>
		  <label for="user_inches">
                <!--<form id="dropdowndemo"><-->
		  <select name="user_inches" id="user_inches">
                  <option>0</option>
                  <option>1</option>
                  <option>2</option>
			      <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
			      <option>8</option>
                  <option>9</option>
                  <option>10</option>
			      <option>11</option>
          </select>
		</td>
    </tr>
    <tr></tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td align=center>Weight (lbs)</td>
    </tr>
    <tr>
      <td align=center>
		  <label for="user_weight"> </label>
              <input id="user_weight" type="text" name="user_weight" maxlength="3" required />
	  </td>
    </tr>
    <tr></tr>
  </tbody>
</table>
<table width="40%" height="303" border="0" style="float: left;">
  <tbody>
    <tr align=center>
      <td height="10%" colspan="2"><h3 style ="color:#F3D849;">Select Fitness Interests</h3></td>
    </tr>
    <tr>
      <td width="25%">
		  <label>
	      <input type="checkbox" id="general_fitness"name="general_fitness"</td> General Fitness
		  </label>
      <td width="25%">
		  <label>
	      <input type="checkbox" name="weight_loss"</td> Weight Loss
		  </label>
    </tr>
    <tr>
      <td>
		  <label>
	      <input type="checkbox" name="strength_training"</td> Strength Training
		  </label>
      <td>
		  <label>
	      <input type="checkbox" name="endurance"</td> Endurance
		  </label>
    </tr>
    <tr>
      <td>
		  <label>
	      <input type="checkbox" name="calisthenics"</td> Calisthenics
		  </label>
      <td>
		  <label>
	      <input type="checkbox" name="athletics"</td> Athletics
		  </label>
    </tr>
    <tr>
      <td>
		  <label>
	      <input type="checkbox" name="bodybuilding"</td> Bodybuilding
		  </label>
      <td>
		  <label>
	      <input type="checkbox" name="martial_arts"</td> Martial Arts
		  </label>
    </tr>
    <tr align=center>
      <td colspan="2"><h3 style="color:#F3D849;">&nbsp;</h3>
      <h3 style="color:#F3D849;">Select Notable Stats</h3></td>
    </tr>
    <tr>
      <td>
		  <label>
	      <input type="checkbox" name="max_bench_press"</td> Max Bench Press
		  </label>
      <td>
		  <label>
	      <input type="checkbox" name="max_deadlift"</td> Max Deadlift
		  </label>
    </tr>
    <tr>
      <td>
		  <label>
	      <input type="checkbox" name="max_squat"</td> Max Squat
		  </label>
      <td>
		  <label>
	      <input type="checkbox" name="max_overhead_press"</td> Max Overhead Press
		  </label>
    </tr>
    <tr>
      <td>
		  <label>
	      <input type="checkbox" name="max_push-ups"</td> Max Push-ups
		  </label>
      <td>
		  <label>
	      <input type="checkbox" name="max_pull-ups"</td> Max Pull-ups
		  </label>
    </tr>
    <tr>
      <td>
		  <label>
	      <input type="checkbox" name="max_dips"</td> Max Dips
		  </label>
      <td>
		  <label>
	      <input type="checkbox" name="max_squats"</td> Max Squats
		  </label>
    </tr>
    <tr>
      <td>
		  <label>
	      <input type="checkbox" name="total_weight_used"</td> Total Weight Used
		  </label>
      <td>
		  <label>
	      <input type="checkbox" name="total_cardio_distance"</td> Total Cardio Distance
		  </label>
    </tr>
    <tr>
      <td>
		  <label>
	      <input type="checkbox" name="total_weight_change"</td> Total Weight Lost/Gained
		  </label>
      <td>
		  <label>
	      <input type="checkbox" name="total_cardio_time"</td> Total Cardio Time
		  </label>
    </tr>
    <tr>
      <td>
		  <label>
	      <input type="checkbox" name="number_of_workouts"</td> Number of Workouts
		  </label>
      <td>
		  <label>
	      <input type="checkbox" name="average_workouts_per_week"</td> Average Workouts Per Week
		  </label>
    </tr>
    <tr>
      <td>
		  <label>
	      <input type="checkbox" name="longest_workout_streak"</td> Longest Workout Streak
		  </label>
      <td>
		  <label>
	      <input type="checkbox" name="longest_rest_streak"</td> Longest Rest Streak
		  </label>
    </tr>
  </tbody>
</table>	  

</div>
	  
</p>
 <p>&nbsp;</p>
 </center>
<table width="80%" border="0">
  <tbody>
    <tr>
      <td><center>
		<p>&nbsp;		  </p>
		<p>&nbsp;</p>
		<p>
		  <input type="submit" onClick="location.href='{% url 'home' %}' " value="Complete" >
		  </p>
	  </center></td>
    </tr>
  </tbody>
</table>
 <h3>&nbsp;</h3>
 </html>
