<html>
<style type="text/css">
body {
	background-color: #191718;
}
</style>
 <!--Input-->
 <center>
 <p><a href="Home.html"><img src="file:///C|/Users/josep/Desktop/College/Senior/Senior Project/Logo.png" alt="" width="366" height="106" align="top"/></a></p>
 <table width="80%" border="0" cellspacing="0">
   <tbody>
     <tr bgcolor="#E0E5E9">>
       <center><td height="37"><center>Home</center></td>
         <td><u><a href="Profile.html"><center>Profile</center></a></u></td>
         <td><center><u><a href="Input.html">Input</a></u></center></td>
         <td><u><a href="Figures.html"><center>Figures</center></a></u></td>
         <td><u><a href="Logs.html"><center>Logs</center></a></u></td>
         <td><u><a href="Stats.html"><center>Stats</center></a></u></td>
       </center>
     </tr>
   </tbody>
 </table>
 <p>&nbsp;</p>
 </center>
 </html>