{% load static %}
<html>
<style type="text/css">
body {
	background-color: #191718;
	font-family: 'Poppins', sans-serif;
}
body,td,th {
	color: #E0E5E9;
}
</style>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
 <!--Input-->
 <center>
 <p><img src="https://i.imgur.com/jW3Uzh1.png" alt="FitFigures logo" width="366" height="106" align="top"/></p>

<form action="/postsignIn/" method="post">
    <p>
    <p>
    <p>    {% csrf_token %} <br/>

      <!-- Enter Your Email: -->
      <label for="Email">Enter email</label>
      :
    <p>
        <input type="email"id="Email" name="email">
        <br><br>
        <!-- Enter Your Password: -->
        <label for="Password">Enter password:</label>
    <p>
        <input type="password" id="Password" name="pass">
    <p>

      <input type="submit" value="Login">
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>Don't have an account? Register Now!</p>
    </p>

    <button type="button" onclick="location.href='{% url 'signup' %} '">Register</button>
</form>

 <p>&nbsp;</p>
 </center>
 </html>