<html>
<style type="text/css">
body {
	background-color: #191718;
	font-family: 'Poppins', sans-serif;
}
table {
    table-layout: fixed;
}
h1 {
	color: #E0E5E9;
}
</style>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<h1>
	<button type="button" onclick="location.href='{% url 'log' %}' ">Logout</button>
</h1>

 <!--Input-->
 <center>
 <p onclick="location.href='{% url 'home' %}' "><img src="https://i.imgur.com/jW3Uzh1.png" alt="" width="366" height="106" align="top"/></p>
 <table width="80%" border="0" cellspacing="0">
   <tbody>
     <tr bgcolor="#0A62D0">>
       <center>
           <td height="37" onclick="location.href='{% url 'home' %}' "><u><center>Home</center></u></td>
         <td onclick="location.href='{% url 'input' %}' "><u><center>Input</center></u></td>
         <td onclick="location.href='{% url 'figures' %}' "><u><center>Figures</center></u></td>
         <td bgcolor="#F3D849"><center>Logs</center></td>
         <td onclick="location.href='{% url 'stats' %}' "><u><center>Stats</center></u></td>
       </center>
     </tr>
   </tbody>
 </table>
 <p>&nbsp;</p>
<br>
<br>

<h1><center>Select an log type:</center></h1>
<center>
<table width="384" height="85">
  <tbody>
    <tr bgcolor="#E0E5E9">
      <center>
        <td width="186" onclick="location.href='{% url 'workoutlog' %}' "><center>Workout Entries</center></u></td>
        <td width="186" onclick="location.href='{% url 'weightlog' %}' "><center>Weight Entries</center></td>
      </center>
  </tbody>
</table>
</center>


 </center>
 </html>