<html>
<style type="text/css">
body {
	background-color: #191718;
	font-family: 'Poppins', sans-serif;
}
body,td,th {
	color: #E0E5E9;
}
h2 {
    color:#F3D849;
}
</style>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
 <!--Inpu
<p> </p>
<!--Input-->
<div><center>
<p><img src="https://i.imgur.com/jW3Uzh1.png" alt="" width="366" height="106" align="top" /></p>
<form action="/getUserInfo/" method="post"><!--# was postSignUp--> {% csrf_token %} <br />
<h1>Account Details</h1>
<h2>Select Stats</h2>
<p>&nbsp;</p>
<center>
    <form action="/Register/SelectStats/" method="post">
	{% csrf_token %}
	{{ form.as_table }}


    <br>
	<br>

	<input type="submit" onclick="location.href='{% url 'home' %}' " value="Finish"><br><br>

</form>
<div>&nbsp;</div>
<p>&nbsp;</p>
</center>
<h3>&nbsp;</h3>
</form></center></div>